<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/img/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

		<form class="p-1" [formGroup]="form" (ngSubmit)="register()">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome</label>
          <input type="text" class="form-control" formControlName="primeiroNome" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}" placeholder="Insira o Primeiro nome" />
          <div *ngIf="f.primeiroNome.errors?.required && f.primeiroNome.touched" class="invalid-feedback">
            Primeiro nome é obrigatório.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input type="text" class="form-control" formControlName="ultimoNome" [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}" placeholder="Insira o Último nome" />
          <div *ngIf="f.ultimoNome.errors?.required && f.ultimoNome.touched" class="invalid-feedback">
            Último nome é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="form-control" type="text" formControlName="email" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" placeholder="Insira o e-mail" />
        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
          e-mail é obrigatório.
        </div>
        <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
          Deve ser um endereço de e-mail valido.
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input class="form-control" type="text" formControlName="userName" [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched}" placeholder="Insira o nome de Usuário" />
        <div *ngIf="f.userName.errors?.required && f.userName.touched" class="invalid-feedback">
          Usuario é obrigatório.
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control" type="password" formControlName="password" [ngClass]="{'is-invalid': f.password.errors && f.password.touched}" placeholder="Digite uma Senha" />
          <div *ngIf="f.password.errors?.required && f.password.touched" class="invalid-feedback">
            Senha é obrigatório.
          </div>
          <div *ngIf="f.password.errors?.minlength && f.password.touched" class="invalid-feedback">
            Deve conter no mínimo 4 caracters.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control" type="password" formControlName="confirmarPassword" [ngClass]="{'is-invalid': f.confirmarPassword.errors && f.confirmarPassword.touched}" placeholder="Confirme a Senha" />
          <div *ngIf="f.confirmarPassword.errors?.required && f.confirmarPassword.touched" class="invalid-feedback">
            Confirmar senha é obrigatório.
          </div>
          <div *ngIf="f.confirmarPassword.errors?.mustMatch && f.confirmarPassword.touched" class="invalid-feedback">
            Repetir a senha é obrigatorio.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" [disabled]="!form.valid" type="submit">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
